.drop-down {
  display: block;
  max-width: 220px;
  padding-top: 5%;
  p {
    font-family: "Open Sans-Light";
    color: white;
    margin: 10px;
  }
}

select {
  font-family: "Open Sans-Light";
  font-size: $standerd-font;
  margin-left: 10px;
  font-size: 30px;

  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}

.info-section {
  color: white;
  width: 100%;
  padding-top: 10%;
  @include tablet {
    padding-top: 1%;
  }

  .app-info {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  .info-href {
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 100%;
    width: 100%;
  }
  .info-list-item {
    overflow: hidden;
    padding-bottom: 35%;
    text-align: center;
    position: relative;
    background-position: center no-repeat;
    background-size: cover, contain;
    flex: 1 0 100%;
    &:before {
      content: "";
      display: block;
      padding-top: 25%;
    }

    @include tablet {
      display: flex;
      flex: 1 0 50%;
      background-position: center;
      padding:0;
    }

    @include desktop {
      display: flex;
      flex: 1 0 25%;
      padding:0;
    }
  }

  .info-text {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    color: white;
    text-align: left;
    position: absolute;
    font-size: 1em;
    padding: 1em;
    bottom: 0;
    width: 100%;
    line-height: 27px;
  }
}
