html {
  font-size: 16px;
}

body {
  align-items: center;
  font-family: "Open Sans-Light";
  background-color: black;
  display: flex;
  height: 100vh;
  text-align: center;
  justify-content: center;
}
