header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 1 auto;
  max-width: $container-max-width;
  width: 100%;
  padding-top: 20%;

  @include tablet {
    flex-direction: row;
    width: 460px;
    padding-left: 18%;
    padding-top: unset;
  }

  @include desktop {
    padding-left: 10%;
  }

  .image-header {
    @include tablet {
      flex-direction: row;
      width: 400px;
      padding-left: 20%;
      padding-top: unset;
    }
  }
  .logo {
    display: block;
    text-align: center;
    width: 400px;

    img {
      width: 220px;
      height: 220px;
      max-width: 100%;
      height: auto;

      @include tablet {
        width: 170px;
        height: 170px;
      }
    }
  }
}
