header {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 400px;

  .logo img {
    display: flex;
    align-self: auto;
    height: auto;
    max-width: 100%;
    flex: 0 0 100%;
  }
}
