header {
  display: flex;

  .logo {
    display: flex;
    max-width: 100%;
    flex: 0 0 100%;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 230px;
    margin-left: 460px;
  }
}
